CertificationApplicationModule.module/Schemas/com.tibco.certification.Java2XML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="www.tibco.com/plugin/java/xmlSchema/com.tibco.certification.Java2XML" xmlns:tns="www.tibco.com/plugin/java/xmlSchema/com.tibco.certification.Java2XML" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Java2XML" type="tns:Java2XMLType"/>

  <xs:complexType name="Java2XMLType">
    <xs:sequence>
      <xs:element name="a" type="xs:string" minOccurs="0"/>
      <xs:element name="b" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

